<!DOCTYPE html>
<html>
  <head>
    <title>Viddup!</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
    media="screen">
  </head>
  <body>
    <div class="container">
      <h2>
        <a href="/stations.html">Click here for all stations</a>
      </h2>
    </div>

    <div class="container recently-added-stations">
      <h2>Recently Added Stations</h2>
      <table class="table">
        <thead>
          <th>Time Added</th>
          <th>Name</th>
          <th>Status</th>
        </thead>
        <tbody>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:11</td>
            <td>Made Up Boulevard & Souteastern Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
          <tr>
            <td>2013-09-05 15:42</td>
            <td>Fake St. & Bogus Ave.</td>
            <td>In Service</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="container">
      <h2>Disclaimer</h2>
      Note: This is currently really alpha. It is also slow and prone
      to timeout-related errors, so please
      be nice, load-wise, and if you have a large audience, please do
      not publicize it yet without talking to me. I'm not putting my
      email address on here because spam, but any reasonably clever
      person should be able to figure out how to contact me. The code
      for all this is open and available at <a href="https://github.com/gensym/viddy">https://github.com/gensym/viddy</a>.
    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual
    files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
