<html>
  <head>
    <title>Station name</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.fillbetween.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/jsedn.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/moment.min.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/station_updates.js"></script>
            
  </head>
  <body>
    <div class="navbar">
      <a id="station-header" class="navbar-brand" href="#">Station name here</a>
    </div>
    
    <div class="body container">

      <!-- Nav tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#available-bikes-percentiles" data-toggle="pill">Available Bikes Averages</a></li>
        <li><a href="#available-bikes" data-toggle="pill">Available Bikes History</a></li>
        <li><a href="#available-docks" data-toggle="pill">Available Docks History</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="available-bikes-percentiles">
          <div class="usage-graph" style="width:600px;height:300px">
            <div style="margin-top:50px;margin-left:10px">
              <img src="/images/spinner.gif"/>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="available-bikes">
          <div class="usage-graph" style="width:600px;height:300px">
            <div style="margin-top:50px;margin-left:10px">
              <img src="/images/spinner.gif"/>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="available-docks">
          <div class="usage-graph" style="width:600px;height:300px">
            <div style="margin-top:50px;margin-left:10px">
              <img src="/images/spinner.gif"/>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>

  <script id="data" type="text/javascript">
    var stationId = $("#station-header").data("station-id");

    var date_format = "YYYY-MM-DDTHH:mm:ssZ";
    var from_time = moment().subtract('months', 1).format(date_format);
    var to_time = moment().format(date_format);

    update_summary_bikes_graph("#available-bikes-percentiles .usage-graph", stationId, from_time, to_time);
    update_available_bikes_graph("#available-bikes .usage-graph", stationId, from_time, to_time);
    update_available_docks_graph("#available-docks .usage-graph", stationId, from_time, to_time);

  </script>
</htmlp>
