<html>
  <head>
    <title>Stations</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
<div class="navbar">
  <a class="navbar-brand" href="#">Stations</a>
</div>
<div class="body container">
  <p class="sample-text">Some text here</p>
  <table class="table stations-list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Station Name</th>
        <th>Status</th>
        <th>Available Bikes</th>
        <th>Available Docks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="station-id">164</td>
        <td class="station-name">Franklin St & Lake St</td>
        <td class="station-status">In Service</td>
        <td class="station-available-bikes-quantity">5</td>
        <td class="station-available-docks-quantity">18</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Marshfield Ave & North Ave</td>
        <td>In Service</td>
        <td>2</td>
        <td>23</td>
      </tr>
    </tbody>
  </table>
</div>
</html>
