<html>
  <head>
    <title>Station name</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.fillbetween.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/jsedn.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/station_updates.js"></script>
            
  </head>
  <body>
    <div class="navbar">
      <a id="station-header" class="navbar-brand" href="#">Station name here</a>
    </div>

    <div class="body container">

      <div id="available-bikes-percentiles">
        <h3>Weekday Usage Averages</h3>
        <div class="usage-graph" style="width:600px;height:300px">
          <div style="margin-top:50px;margin-left:10px">
            <img src="/images/spinner.gif"/>
          </div>
        </div>
      </div>

      <div id="available-bikes">
        <h3>Available Bikes</h3>
        <div class="usage-graph" style="width:600px;height:300px">
          <div style="margin-top:50px;margin-left:10px">
            <img src="/images/spinner.gif"/>
          </div>
        </div>
      </div>

      <div id="available-docks">
        <h3>Available Docks</h3>
        <div class="usage-graph" style="width:600px;height:300px">
          <div style="margin-top:50px;margin-left:10px">
            <img src="/images/spinner.gif"/>
          </div>
        </div>
      </div>
      
    </div>
  </body>

  <script id="data" type="text/javascript">
    var stationId = $("#station-header").data("station-id");
    
update_summary_bikes_graph("#available-bikes-percentiles .usage-graph", stationId);
    update_available_bikes_graph("#available-bikes .usage-graph", stationId);
    update_available_docks_graph("#available-docks .usage-graph",
    stationId);
    update_weekday_graph("#available-bikes-percentiles .usage-graph", stationId);

  </script>
</htmlp>
