<html>
  <head>
    <title>Station name</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
          media="screen">
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/jquery.flot.time.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/jsedn.js"></script>
    <script language="javascript" type="text/javascript"
            src="/js/underscore-min.js"></script>
    <script language="javascript" type="text/javascript" 
            src="/js/station_updates.js"></script>
            
  </head>
  <body>
    <div class="navbar">
      <a id="station-header" class="navbar-brand" href="#">Station name here</a>
    </div>

    <div class="body container">
      <div class="usage-graph" style="width:600px;height:300px">
        
      </div>
    </div>
  </body>

  <script id="data" type="text/javascript">
    var stationId = $("#station-header").data("station-id");
    update_station_graph(".usage-graph", stationId);
  </script>
</htmlp>
